/*Estilo Geral do Site*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Fonte do Google */
}

body{
    background-color: #1A1A1A;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #e90404;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #ffffff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #e90404;
}

button:hover{
    box-shadow: 0px 0px 8px #e90404;
    transform: scale(1.05);
}

.btn-social button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #e90404;
    font-size: 18px;
    cursor: pointer;
    margin: 0 8px;
    transition: .2s;
}

/*Estilo do Cabeçalho*/

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #ffffff67;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #ffffff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/* Estilo topo do site */
section.topo-do-site{
    width: 100%;
    height: 540px;

    display: flex;
    justify-content: center;
    align-items: center;
}

section.topo-do-site.flex{
    align-items: center;
    justify-content: center;
}

.topo-do-site h1{
    color: #ffffff;
    font-size: 42px;
    line-height: 50px;
}

.topo-do-site .txt-topo-do-site{
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 40px;
}


.topo-do-site .txt-topo-do-site h1 span{
    color: #e90404;
}

.topo-do-site .txt-topo-do-site p{
    color: #ffffff;
}

.topo-do-site .foto-Loh {
    width: 800px; /* Largura da imagem hexagonal */
    height: 440px; /* Altura da imagem hexagonal */
    display: flex;
    justify-content: center;
    
  }
  
  .topo-do-site .foto-Loh img {
    width: 280px;
    height: 400px;
    object-fit: cover; /* Redimensiona a imagem para preencher o hexágono */
    animation: flutuar 2s ease-in-out infinite alternate;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: relative;

  }

  @keyframes flutuar{
   0%{
        top: 0;
   } 
   100%{
    top: 30px;
   }
}

/* Estilo das especialidades */
section.especialidades{
    width: 100%;
    height: 575px;
    padding: 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff;
}

.especialidades .especialidades-box i{
    font-size: 60px;
    color: #e90404;
}

.especialidades .especialidades-box h3{
    font-size: 26px;
    margin: 15px 0;
}

/* Estilo Sobre */
section.sobre{
    width: 100%;
    height: 500px;
    padding: 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #ffffff;
}

.sobre .txt-sobre h2{
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #e90404;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt.img img{
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
}

.txt-img img {
    border-radius: 30px;
}

/* Estilo Cursos */

section.cursos{
    width: 100%;
    height: 648px;
    padding: 4%;
}

section.cursos .flex{
    gap: 60px;
}

.cursos .cursos-box{
    color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.cursos .cursos-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff;
}

.cursos .cursos-box .microcamp{
    width: 105px;
}
.cursos .cursos-box .saliens{
    width: 140px;
}

.cursos .cursos-box h2{
    font-size: 26px;
    margin: 15px 0;
}

.cursos .cursos-box p{
    margin: 20px 0;
    text-align: justify;
}

/* Estilo do Rodapé */
footer{
    width: 100%;
    height: 330px;
    padding: 4%;
    box-shadow: 0 0 10px 5px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
}

footer .linha-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #e90404;
}

footer .linha-footer p i{
    color: #e90404;
    font-size: 22px;
}

footer .linha-footer p a{
    color: #ffffff;
    
}

footer .img-logojoao img{
    width: 250px;
    border-radius: 20px;
}

footer .Copyright{
    color: #ffffff;
    font-size: 10px;
    display: flex;
    justify-content: center;
}