/*Estilo Geral do Site*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Fonte do Google */
}

body{
    background-color: #1A1A1A;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #e90404;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover{
    box-shadow: 0px 0px 8px #e90404;
    transform: scale(1.05);
}


/*Estilo do Cabeçalho*/

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #ffffff67;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #ffffff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site.flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #ffffff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-do-site h1 span{
    color: #e90404;
}

.topo-do-site .txt-topo-do-site p{
    color: #ffffff;
    margin: 40px 0;
}

.topo-do-site .foto-Loh {
    width: 800px; /* Largura da imagem hexagonal */
    height: 400px; /* Altura da imagem hexagonal */
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    margin: 100px; /* Ajuste o valor conforme necessário */
    
  }
  
  .topo-do-site .foto-Loh img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Redimensiona a imagem para preencher o hexágono */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

  }

  @keyframes flutuar{
   0%{
        top: 0;
   } 
   100%{
    top: 30px;
   }
}